.footer {
  background-color: #8a778d;;
  color: #e2e8f0;
  text-align: center;
  padding: 20px;
  margin-top: auto; 
  font-size: 0.9rem;
}

.footer a {
  color: #45038b;;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

