.footer {
  background-color: #8d6c92;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto; 
  font-size: 0.9rem;
}

.footer a {
  color: #e9b0c7;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

